<div>
  <section class="vh-00 bg-image"
           style="background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20210120/pngtree-green-simple-clean-background-image_536886.jpg');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-80">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">THÊM MỚI DỊCH VỤ</h2>
                <div class="form-outline mb-4">
                  <span>Tên dịch vụ:</span>
                  <select class="form-control">
                    <option>--Chọn tên dịch vụ--</option>
                    <option value="1">Villa</option>
                    <option value="2">House</option>
                    <option value="3">Room</option>
                  </select>
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label">Diện tích sử dụng: </label>
                  <input type="text" min="0" class="form-control form-control-lg"/>
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label">Chi phí thuê: </label>
                  <input type="text" min="0" class="form-control form-control-lg"/>
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label">Số lượng người tối đa: </label>
                  <input type="number" min="0" class="form-control form-control-lg"/>
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label">Kiểu thuê:
                    <select class="form-control">
                      <option value=-1>-- Chọn kiểu thuê --</option>
                      <option value="1">Năm</option>
                      <option value="2">Tháng</option>
                      <option value="3">Ngày</option>
                      <option value="4">Giờ</option>
                    </select>
                  </label>
                </div>
                <div class="form-outline mb-4" id="stand">
                  <label class="form-label">Tiêu chuẩn phòng: </label>
                  <select class="form-control">
                    <option value="0">-- Chọn tiêu chuẩn phòng --</option>
                    <option value="'Nomal'">Nomal</option>
                    <option value="'VIP'">VIP</option>
                    <option value="'Standar'">Standar</option>

                  </select>
                </div>
                <div class="form-outline mb-4" id="descrip">
                  <label class="form-label">Tiện nghi khác: </label>
                  <input type="text" class="form-control form-control-lg"/>
                </div>
                <div class="form-outline mb-4" id="areaa">
                  <label class="form-label">Diện tích hồ bơi: </label>
                  <input type="text" min="0" class="form-control form-control-lg"/>
                </div>
                <div class="form-outline mb-4" id="floor">
                  <label class="form-label">Số tầng: </label>
                  <input type="number" min="0" class="form-control form-control-lg"/>
                </div>
                <div class="form-outline mb-4" id="free">
                  <label class="form-label">Dịch vụ miễn phí: </label>
                  <input type="text" class="form-control form-control-lg"/>
                </div>
                <div class="d-flex justify-content-center">
                  <button type="submit"
                          class="btn btn-success gradient-custom-4 text-body">
                    Thêm mới
                  </button>
                </div>
                <div class=" button mt-3 ">
                  <p>
                    <a class="btn btn-outline-success gradient-custom-4 text-body ">
                      Quay lại danh sách
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
