<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <form [formGroup]="editForm" (ngSubmit)="editPhongTro()" novalidate>
      <h2 class="text-uppercase text-center mb-5">thêm mới phòng trọ</h2>
      <div class="row" id="form">
        <p>
          <button class="btn btn-outline-success" routerLink=''>Danh sách phòng trọ</button>
        </p>
        <div class="col-lg-12">
          <div>
<!--            <input hidden formControlName="id">-->
          </div>
          <div class="col-lg-12 form-outline mb-4">
            <span for="customerType">Mã phòng trọ: </span>
            <span style="color: red"
                  *ngIf="editForm.controls.code.hasError('required') && editForm.controls.code.touched "> Mã phòng trọ không được để trống!</span>
            <!--        <span style="color: red"-->
            <!--              *ngIf="createForm.controls.code.hasError('pattern') && createForm.controls.code.touched "> Mã khách hàng phải đúng định dạng!</span>-->
            <input type="text" class="form-control form-control-lg" formControlName="code"/>
          </div>
        </div>
        <div>
          <div class="form-outline mb-4">
            <span for="name">Tên khách thuê: </span>
            <span style="color: red"
                  *ngIf="editForm.controls.nguoiThue.hasError('required') && editForm.controls.nguoiThue.touched && editForm.controls.nguoiThue.dirty">Tên khách thuê không được để trống!</span>
            <input type="text" class="form-control form-control-lg" formControlName="nguoiThue"/>
          </div>
        </div>
        <div>
          <div class="form-outline mb-4">
            <span for="soDienThoai">Số điện thoại: </span>
            <span style="color: red"
                  *ngIf="editForm.controls.soDienThoai.hasError('required') && editForm.controls.soDienThoai.touched && editForm.controls.soDienThoai.dirty">Số điện thoại không được để trống!</span>
            <input type="text" class="form-control form-control-lg" formControlName="soDienThoai"/>
          </div>
        </div>
        <div>
          <div class="form-outline mb-4">
            <span for="ngayThue">Ngày thuê: </span>
            <span style="color: red"
                  *ngIf="editForm.controls.ngayThue.hasError('required') && editForm.controls.ngayThue.touched && editForm.controls.ngayThue.dirty">Ngày thuê không được để trống!</span>
            <input type="date" class="form-control form-control-lg" formControlName="ngayThue"/>
          </div>
        </div>
        <div>
          <div class="form-outline mb-4">
            <span for="loaiThue">Loại thuê: </span>
            <span style="color: red"
                  *ngIf="editForm.controls.loaiThue.hasError('required') && editForm.controls.loaiThue.touched">Vui lòng chọn loại thuê</span>
            <div class="input-group">
              <select style="height: 49px" id="loaiThue" class="form-select" [compareWith]="compareWith"
                      formControlName="loaiThue">
                <option [ngValue]="c" *ngFor="let c of loaiThue ">
                  {{c.ten}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div>
          <div class="form-outline mb-4">
            <span for="gia">Giá thuê: </span>
            <span style="color: red"
                  *ngIf="editForm.controls.gia.hasError('required') && editForm.controls.gia.touched && editForm.controls.gia.dirty">Giá thuê phòng không được để trống!</span>
            <input type="text" class="form-control form-control-lg" formControlName="gia"/>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <input class="btn btn-success btn-block gradient-custom-4 text-body" type="submit"
                 [disabled]="!editForm.valid" value="Sửa">
        </div>
      </div>
    </form>
  </div>
</div>
<div class="col-3"></div>
