<app-header></app-header>
<app-navigation></app-navigation>
<h1 style="text-align: center ; margin-top: 20px">Danh Sách Khách Hàng</h1>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <button class="btn btn-outline-success" routerLink="/customer/create">Thêm mới</button>
    <form [formGroup]="customerSearch" (ngSubmit)="search()">
      <div style="text-align: right">
        <input formControlName="name">
        <button type="submit" class="btn btn-outline-success my-2 my-sm-0">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
               viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </button>
      </div>
    </form>
    <table class="table table-success table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th> Tên</th>
        <th>Ngày Sinh</th>
        <th>Giới tính</th>
        <th>Số CCCD</th>
        <th>Số Điện Thoại</th>
        <th>Email</th>
        <th>Địa chỉ</th>
        <th>Loại khách</th>
        <th colspan="2"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of customers | paginate: {itemsPerPage: 5, currentPage:p}">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.dateOfBirth}}</td>
        <td>{{item.gender ? "Nam" : "Nữ"}}</td>
        <td>{{item.idCard}}</td>
        <td>{{item.phoneNumber}}</td>
        <td>{{item.email}}</td>
        <td>{{item.address}}</td>
        <td>{{item.customerType?.name}}</td>
        <td>
          <button class="btn btn-primary" [routerLink]="['/customer/edit', item.id]">Sửa</button>
        </td>
        <td>
          <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteCustomer" (click)="temp=item">
            Xóa
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
  <div class=" col-md-1">
  </div>
</div>
<app-footer></app-footer>
<app-delete-customer [customer]="temp" (emiter)="reload()"></app-delete-customer>
