<h1>Chỉnh sửa sản phẩm</h1>
<form [formGroup]="productForm" (ngSubmit)="updateProduct()">
  <table>
    <tr>
      <td>Mã sản phẩm:</td>
      <td><input type="number" name="id" ngModel="{{product.id}}" formControlName="id"></td>
    </tr>
    <tr>
      <td>Tên sản phẩm:</td>
      <td><input type="text" name="name" formControlName="name" ngModel="{{product.name}}" ></td>
    </tr>
    <tr>
      <td>Giá sản phẩm</td>
      <td><input type="number" name="price" formControlName="price" ngModel="{{product.price}}"/></td>
    </tr>
    <tr>
      <td>Mô tả về sản phẩm</td>
      <td><input type="text" name="description" formControlName="description" ngModel="{{product.description}}"></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button class="btn btn-primary">Cập nhật</button>
      </td>
    </tr>
  </table>
</form>
