<div class="row">
  <div style="margin-top: 30px">
    <h2 style="text-align: center">FACILITY LIST</h2>
  </div>
  <div class="row">
    <div class="col-4" *ngFor="let item of facilities">
      <div style="display: flex; justify-content: center; text-align: center; margin-top: 40px">
        <div class="card" style="background: #EEEEEE">
          <div class="card-body">
            <p class="card-text">
              <img [src]="item.image" alt="Hollywood Sign on The Hill" style="height: 264px" width="350px">
            <h4>{{item.name}} </h4>
            <span>Diện tích: </span>
            <span>{{item.area}}</span>
            <span> m²</span>
            <br>
            <br>
            <button type="button" class="btn btn-primary btn-rounded">Hiển thị thêm</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
