<section class="vh-00 bg-image"
         style="background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20210120/pngtree-green-simple-clean-background-image_536886.jpg');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">THÊM MỚI KHÁCH HÀNG</h2>
              <div class="row" id="form">
                <p>
                  <a class="btn btn-outline-success btn-block gradient-custom-4 text-body">
                    Quay lại danh sách
                  </a>
                </p>
                <div class="col-lg-6">
                  <input hidden type="text"
                         class="form-control form-control-lg"/>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example1cg">Tên khách hàng: </label>
                    <input type="text" id="form3Example1cg"
                           class="form-control form-control-lg"/>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="customerType">Loại khách: </label>
                    <div class="input-group">
                      <select style="height: 49px" id="customerType" class="form-select">
                        <option value="">Chọn loại khách hàng</option>
                        <option value="">Diamond</option>
                        <option value="">Platinium</option>
                        <option value="">Gold</option>
                        <option value="">Silver</option>
                        <option value="">Member</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label">Giới tính: </label>
                    <div class="input-group">
                      <select style="height: 49px" class="form-select">
                        <option value="">Chọn giới tính</option>
                        <option>Nam</option>
                        <option>Nữ</option>
                      </select>

                    </div>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cdg">Số CMND: </label>
                    <input type="text" id="form3Example4cdg"
                           class="form-control form-control-lg"/>
                  </div>
                </div>
                <div class="col-lg-6">
                  <label class="form-label" for="form3Example4cg">Ngày sinh: </label>
                  <div class="form-outline mb-4">
                    <input type="date" id="form3Example4cg"
                           class="form-control form-control-lg"/>
                  </div>
                  <label class="form-label" for="form3Example4cdg">Số diện thoại: </label>
                  <div class="form-outline mb-4">
                    <input type="text"
                           class="form-control form-control-lg"/>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cdg">Email: </label>
                    <input type="text" class="form-control form-control-lg"/>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cdg">Địa chỉ: </label>
                    <input type="text" class="form-control form-control-lg"/>

                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-center">
                <button type="submit"
                        class="btn btn-success btn-block gradient-custom-4 text-body">Thêm mới
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
