<app-header></app-header>
<app-navigation></app-navigation>

<section class="vh-00 bg-image"
         style="background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20210120/pngtree-green-simple-clean-background-image_536886.jpg');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px">
            <form [formGroup]="createFacilityForm" (ngSubmit)="saveFacility()">

              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">THÊM MỚI DỊCH VỤ</h2>
                <div class="row" id="form">
                  <p>
                    <a class="btn btn-outline-success btn-block gradient-custom-4 text-body">
                      Quay lại danh sách
                    </a>
                  </p>
                  <div class="col-lg-12">
                    <div class="form-outline mb-4">
                      <span for="name">Mã dịch vụ: </span>
                      <span style="color: red"
                            *ngIf="createFacilityForm.controls.id.hasError('required') && createFacilityForm.controls.id.touched "> Mã dịch vụ không được để trống!</span>
                      <span style="color: red"
                            *ngIf="createFacilityForm.controls.id.hasError('pattern') && createFacilityForm.controls.id.touched "> Mã dịch vụ phải đúng định dạng!</span>
                      <input type="text" class="form-control form-control-lg" formControlName="id"/>
                    </div>
                    <div class="form-outline mb-4">
                      <span for="name">Tên dịch vụ: </span>
                      <span style="color: red"
                            *ngIf="createFacilityForm.controls.name.hasError('required') && createFacilityForm.controls.name.touched "> Tên dịch vụ không được để trống!</span>
                      <span style="color: red"
                            *ngIf="createFacilityForm.controls.name.hasError('pattern') && createFacilityForm.controls.name.touched "> Tên dịch vụ phải đúng định dạng!</span>
                      <input type="text" class="form-control form-control-lg" formControlName="name"/>
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="customerType">Kiểu thuê: </label>
                      <div class="input-group">
                        <select style="height: 49px" id="customerType" class="form-select"
                                formControlName="renType">
                          <option [ngValue]="c.name" *ngFor="let c of renTypeList">
                            {{c.name}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="form-outline mb-4">
                      <span class="form-label">Diện tích: </span>
                      <span style="color: red"
                            *ngIf="createFacilityForm.controls.area.hasError('required') && createFacilityForm.controls.area.touched "> Diện tích không được để trống!</span>
                      <input type="text" class="form-control form-control-lg" formControlName="area"/>
                    </div>
                    <div class="form-outline mb-4">
                      <span class="form-label">Số tầng: </span>
                      <span style="color: red"
                            *ngIf="createFacilityForm.controls.numberOfFloor.hasError('required') && createFacilityForm.controls.numberOfFloor.touched "> Diện tích không được để trống!</span>
                      <input type="text" class="form-control form-control-lg" formControlName="numberOfFloor"/>
                    </div>
                    <div>
                      <span class="form-label">Số người tối đa: </span>
                      <span style="color: red"
                            *ngIf="createFacilityForm.controls.maxPeople.hasError('required') && createFacilityForm.controls.maxPeople.touched "> Số người tối đa không được để trống!</span>
                      <div class="form-outline mb-4">
                        <input type="text"
                               class="form-control form-control-lg" formControlName="maxPeople"/>
                      </div>
                    </div>
                    <div class="form-outline mb-4">
                      <span class="form-label">Chi phí thuê: </span>
                      <span style="color: red"
                            *ngIf="createFacilityForm.controls.cost.hasError('required') && createFacilityForm.controls.cost.touched "> Chi phí không được để trống!</span>
                      <input type="text" class="form-control form-control-lg" formControlName="cost"/>
                    </div>
                    <div class="form-outline mb-4">
                      <span class="form-label">Diện tích bể bơi: </span>
                      <span style="color: red"
                            *ngIf="createFacilityForm.controls.poolArea.hasError('required') && createFacilityForm.controls.poolArea.touched "> Diện tích bể bơi không được để trống!</span>
                      <input type="text" class="form-control form-control-lg" formControlName="poolArea"/>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-center">
                  <input class="btn btn-success btn-block gradient-custom-4 text-body" type="submit"
                         [disabled]="!createFacilityForm.valid" value="Thêm mới">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
