<h3 style="text-align: center">DANH SÁCH PHÒNG TRỌ</h3>

<div class="row" style="margin: 0">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <button class="btn btn-outline-success" routerLink="/them-phong">Thêm mới</button>
        <div style="text-align: right">
          <input type="text" #nguoiThue placeholder="Tên">
          <input type="text" #soDienThoai placeholder="Số điện thoại">
          <button type="submit" class="btn btn-outline-success my-2 my-sm-0" (click)="search(nguoiThue.value, soDienThoai.value)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                 viewBox="0 0 16 16">
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
          </button>
        </div>
    <table class="table table-success table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>Tên người thuê</th>
        <th>Số điện thoại</th>
        <th>Ngày thuê</th>
        <th>Loại Thuê</th>
        <th>Giá</th>
        <th colspan="2">Thao tác</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of phongTros |paginate: { itemsPerPage: 2, currentPage: p }; index as i">
        <td>{{i + 1}}</td>
        <td>{{item.nguoiThue}}</td>
        <td>{{item.soDienThoai}}</td>
        <td>{{item.ngayThue}}</td>
        <td>{{item.loaiThue?.ten}}</td>
        <td>{{item.gia}}</td>
        <td>
          <button class="btn btn-primary" [routerLink]="['/sua', item.id]">Sửa</button>
        </td>
        <td>
          <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deletePhongTro" (click)="temp=item">
            Xóa
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div style="text-align: right">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
  <div class=" col-md-1">
  </div>
</div>
<app-xoa-phong-tro [phongTro]="temp" (emiter)="reload()"></app-xoa-phong-tro>
