<h1 style="text-align: center ; margin-top: 20px">Danh Sách Khách Hàng</h1>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <table class="table table-success table-hover">
      <tr></tr>
      <tr>
        <th> #</th>
        <th>Tên dịch vụ</th>
        <th>Khách hàng</th>
        <th>Ngày bắt đầu</th>
        <th>Ngày kết thúc</th>
        <th>Tiền đặt cọc</th>
        <th>Tổng tiền</th>
        <th>Các dịch vụ đi kèm</th>
      </tr>
    </table>
  </div>
  <div class=" col-md-1">
  </div>
</div>
