<form>
  <div class="modal fade" id="deletePhongTro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Xác nhận lại</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Bạn có xoá phòng trọ của khách thuê có tên:
          <span>{{phongTro.nguoiThue}}</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" (click)="deletePhongTro()" class="btn btn-primary">Xóa</button>
        </div>
      </div>
    </div>
  </div>
</form>
