<h2 style="text-align: center">Form Log-in</h2>

<div class="col-3 mt-5">
  <form [formGroup]="logInForm" (ngSubmit)="saveInfo()" novalidate >
    <p>
      <span>Email address</span>
      <span style="color: red" *ngIf="logInForm.controls.email.hasError('requied')"> Email không được để trống</span>
      <span style="color: red" *ngIf="logInForm.controls.email.hasError('email')"> Email phải đúng định dạng</span>
      <input class="form-control" formControlName="email">
    </p>

    <p class="form-outline">
      <span>Password</span>
      <span style="color: red" *ngIf="logInForm.controls.password.hasError('requied')">Password không được để trống</span>
      <span style="color: red" *ngIf="logInForm.controls.password.hasError('minlength')">Password phải đúng định dạng</span>
      <input class="form-control" formControlName="password"/>
    </p>

    <div class="row">
      <div class="col d-flex justify-content-center">
        <!-- Checkbox -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked/>
          <label class="form-check-label" for="form1Example3"> Remember me </label>
        </div>
      </div>

    </div>

    <button type="submit" class="btn btn-primary btn-block" [disabled]="!logInForm.valid">Sign in</button>
  </form>
</div>

