<h1>Danh sách danh mục sản phẩm</h1>
<button class="btn btn-outline-success" routerLink="/category/create">Tạo mới danh mục</button>
<table class="table table-hover">
  <thead>
  <tr>
    <td>STT</td>
    <td>Tên</td>
    <td colspan="2" style="text-align: center">Thao tác</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let category of categories; index as i">
    <td>{{i + 1}}</td>
    <td>{{category.name}}</td>
    <td><button class="btn btn-primary" [routerLink]="['/category/edit',category.id]">Edit</button></td>
    <td><button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteId" (click)="temp = category">Delete</button></td>
  </tr>
  </tbody>
</table>
<app-category-delete [category]="temp" (emiter)="reload()"></app-category-delete>
